<% if current_user.email != 'guest@example.com' %>
    <%# もしuserがフォローされていたら %>
    <% if user.is_followed_by?(current_user) %>
        <%= link_to user_relationships_path(user), class: "btn btn btn-danger", method: :delete, data: {confirm: "本当にフォロー解除しますか?"} do %>
        <span>フォロー</span><span>解除</span>
        <% end %>
    <% else %>
        <%= link_to user_relationships_path(user), class: "btn btn-primary", method: :post do %>
        フォロー
        <% end %> 
    <% end %>
<% elsif %>
    フォロー不可
<% end %>