<%= render 'error_users' %>

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h2>編集</h2>
      <%= form_for @user do |f| %>
        <%= render 'user_profile', user: @users %>
        <div>
          <%= f.submit class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>