<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <%= render 'searchs/form' %>
      <br>
      <table class="table text-center">
      <%= render 'users_index_tbody', user: @user %>
      </table>
    </div>
  </div>
</div>