<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <%= render 'header_index' %>
      <%= render 'index_header' %>
        <tbody>
          <% @todos.each do |todo| %>
            <tr>
              <% if todo.user == current_user %>
                <%= render 'graph_index', todo: todo %>
                <% elsif todo.user != current_user && todo.release == true %>
                <%= render 'release_true', todo: todo %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>