<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <%= render 'header_myindex' %>
      <%= render 'header' %>
        <tbody>
          <% @todos.each do |todo| %>
            <tr>
              <% if todo.user == current_user %>
                <%= render 'graph_myindex', todo: todo %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>