// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.f-container{
  display: flex; 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #fff;
}

.logo {
  font-family: "hiragino kaku gothic pro";
  font-size: 24px;
  color: rgb(93, 212, 129);
}

.under{
  font-size: 30px;
  color: #fff;
  text-shadow:0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129),0 0 3px rgb(93, 212, 129);
}

.plan_item{
  list-style: none;
}