// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-info{
    margin-right: 20px;
}

// booleanが行われたときの変化
.complete{
    opacity: 0.5;
    text-decoration: line-through;
}

.fas{
    opacity: 0.7;
}

.myindex{
      /* 基本的なサイズの設定 */
  font-weight: bold;
}

.todo_header{
    text-align: center;
}

.myindex_btn{
    text-align: center;
}

.btn-info{
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-danger{
    padding: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.myindex_release{
    text-align: center;
}

.todo_header_list{
    min-width: 73px;
}

.todo_header_btn{
    min-width: 73px;
}

.todo_header_release{
    min-width: 73px;
}

.show_botton{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 150px;
    margin: 10px auto;
}

.show_button_item{
    // margin: 10px auto 10px 10px;
    margin: 10px 0;
}


@media screen and (max-width: 1000px) {
	/* 1000px以下に適用されるCSS（タブレット用） */

    .myindex_btn{
        display: flex;    
        flex-direction: column;
        justify-content: space-between;
    }
        
    .btn-info{
        margin: 0;
        margin-bottom: 10px;
    }

    .btn-danger{
        margin: 0;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 480px) {
/* 480px以下に適用されるCSS（スマホ用） */

}