// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn-info{
    margin-right: 20px;
}

// booleanが行われたときの変化
.complete{
    opacity: 0.5;
    text-decoration: line-through;
}

.fas{
    opacity: 0.7;
}

@media screen and (max-width: 1000px) {
	/* 1000px以下に適用されるCSS（タブレット用） */
    .new-title{
        color: red;
    }
 }
 @media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .new-title{
        color: #00ff00;
    }
 }